.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity var(--trns-time-function), visibility var(--trns-time-function);
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    
    min-width: 450px;
    min-height: 609px;
    background-color: var(--primary-white-color);
    border-radius: 4px;
    padding: 40px;

    transition: transform 500ms ease-out, opacity 500ms ease-out;
    
    @media screen and (min-width: 1200px) {
        min-width: 528px;
        min-height: 581px;
    }
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -75%);
    opacity: 0;
}
.close__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    padding: 0;
    background-color: var(--primary-white-color);
    fill: currentColor;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;

    transition: color var(--trns-time-function);

    &:focus, &:hover {
        color: var(--accent-color);
    }
}

.modal__title {
    max-width: 370px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--link-text-color);
    margin-bottom: 12px;

    @media screen and (min-width: $desktop) {
        max-width: 448px;
    }
}

.form__group {
    margin-bottom: 20px;
}
.form__field {
    position: relative;
    flex-basis: 370px;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $desktop) {
        flex-basis: 448px;
    }
}
.form__label {
    display: block;    
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    margin-bottom: 4px;
        
    color: var(--primary-text-color);
}
.form__input {
    position: relative;
    display: block;
    max-width: 100%;
    height: 40px;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    fill: currentColor;
    font-size: 16px;

    margin-bottom: 10px;
    padding: 12px 42px;

    transition: border var(--trns-time-function);
}
.form__group .form__input:focus, 
.form__group .form__input:hover  {
    border: 1px solid var(--accent-color);
}
.form__group .form__input:focus-visible {
    outline: none;
}
.form__icon {
    position: absolute;
    top: 29px;
    left: 12px;
    display: inline-block;
    fill: currentColor;

    transition: color var(--trns-time-function);
}
.form__input:focus ~ .form__icon {
    color: var(--accent-color);
}

.form__message {
    height: 120px;
    padding: 12px 16px;

    resize: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    fill: currentColor;
    font-size: 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color var(--trns-time-function);

    &:focus, &:hover {
        border-color: var(--accent-color);
    }
    &:focus-visible {
        outline: none;
    }
}

.form__agreement {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    margin-bottom: 30px;
}
.form__checkbox {
    appearance: none;
    width: 16px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0;

    border: 2px solid #212121;
    border-radius: 2px;

    transition: var(--trns-time-function);
    cursor: pointer;

    &:checked {
        background-color: var(--accent-color);
        border-color: transparent;
        background-size: 15px;
    }
}
.agreement__text, .agreement__link {
    font-size: 12px;
    line-height: 1.16;
    color: #757575;

    @media screen and (min-width: $desktop) {
        font-size: 14px;
        line-height: 1.71;
    }
}

.agreement__link {
    color: var(--accent-color);
}
.modal .form__btn {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    min-width: 200px;
    min-height: 50px;
    border: 1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition: background-color var(--trns-time-function);
}
.modal .form__btn:hover,
.modal .form__btn:focus {
    background-color: #188CE8; 
}